@charset "utf-8";

body{background-color: rgba(70, 142, 236);}

header > h1{font: normal bolder 24pt Arial; color: white;
            text-align: center;}

section{font: normal 1em arial;  
    background-color: white;
    width: 500px;
    margin:auto;
    border-radius: 10px 5px;
    box-shadow: 10px 8px 5px rgba(0, 0, 0, 0.363);
    padding: 10px;}

footer{font: normal 1em arial; text-align: center;}

footer > a{color: white;}